<div class="card employee-card">
    <div class="card-header" style="background-color: #FFE07F;">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-user-graduate mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body" style="background-color: #FFECB3;">
        <ul class="list-group" style="background-color: #FFECB3;">
            <li class="list-group-item" style="background-color: #FFECB3;">ID: {{ id }}</li>
            <li class="list-group-item" style="background-color: #FFECB3;">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item" style="background-color: #FFECB3;">School: {{ school }}</li>
        </ul>
    </div>
</div>
